body{
	margin: 0;
	padding: 0;
	background: url(image.jpg);   
	background-size: cover;
	font-family: arial, helvetica;
}

.menu{
	list-style: none;
	padding: 0;
	background: #4a101d;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #413c63;
}
h1 {	
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
	text-align: center;
}